<div class="row">
  {{#each articles}}

  <div class="col-4 p-2">
    <div class="p-2 border">
    <a href={{this.link}}>
    <img src={{this.img}} alt="" class="img-fluid" alt="Responsive image">
    </a>
    <h1 href={{this.link}}><h5 class='title' href=>
      {{this.title}}</h5>
      </h1>
    <a class="summary">{{this.summary}}</a>
    </div>
  </div>
  {{/each}}
</div>